{% extends "two_columns.jinja2" %}
{% block menu %}
 <a href="{{ request.route_path('index') }}" class="dropdown-toggle dropdown-submenu">Dashboard</a>
 {% endblock %}

{% block left_col %}
  <!-- sidebar-wrapper -->  
  <div id="sidebar-wrapper" class="pull-left stretch-right">
    <div class="sidebar">
      <ul id="menuSm" class="nav">
        <li>
          <a href="{{ request.route_path('index') }}" class="box-about" ><i class="fa fa-caret-left menu-icon"></i> <span >Back to Search</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end sidebar -wrapper -->
{% endblock %}

{% block right_col %}
<div class="container-fluid">
  <div class="about fade-in">
      <div class="row">
          <div class="col-lg-12">
              <h1>About  Landscape</h1>
              <div class="line"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <h2>What is it &#63;</h2>
              <p>This is a online tool which has the goal of helping the people in the non-profit sector better understand the landscape both in their geographic vicinity, and in their specific focus area.</p>
          </div>
      </div>
     <div class="row">
         <div class="col-lg-12">
              <h2>Why did you make it &#63;</h2>
              <p>The primary goal is to help people understand their sector. We want to make information available that helps strategic planning by making landscape mapping accurate and easy.</p>
              <p>In addition, we hope the project will work to increase collaboration and reduce duplication in the sector.</p> 
         </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <h2>Do you have some hidden agenda &#63;</h2>
              <p>Absolutely! We wanted to show funders the importance and value of their grant-making data. Funders have some amazing data about the sector - and they do not have the same barriers and obstacles faced by non-profits. If they are able to share more of their grant-making data in common formats, then tools like this will be much more useful. In particular, we hope to encourage funders to adopt the 360giving standard which was developed recently by UK funders.</p>
          </div>
      </div>
      <div class="row">
           <div class="col-lg-12">
              <h2>Who did this &#63;</h2>
              <p>Ajah did this as part of our social initiative, <a class="link" href="http://poweredbydata.org" target="_blank">PoweredbyData.</a></p>
              <p><a class="link" href="http://ajah.ca">Ajah</a> is a Canadian-based company which offers an online funder research to the non-profit sector. Our service, Fundtracker, merges dozens of government and public data sets with our own proprietary research so that users can track grant-making by foundations, corporations and governments.</p>PoweredByData</a> in order to leverage our expertise with open data. Our mission is to develop a more effective social sector by working with various stakeholders to publish better data.</p>
          </div>
      </div>
      <div class="row">
           <div class="col-lg-12">
              <h2>What did it take &#63;</h2>
              <p>Because we had already identified, investigated, and collected some of the datasets, this project only took us 6 weeks of work.</p>
              <p>Partial funding for this project was provided by <a class="link" href="http://communityfoundations.ca" target="_blank">Community Foundations Canada</a> and the <a class="link" href="http://otf.ca">Ontario Trillium Foundation.</a></p>
          </div>
      </div>
      <div class="row">
           <div class="col-lg-12">
              <h2>What data is on this site &#63;</h2>
              <p>We hope to add more data to it, but so far we scraped grants and contributions data from some federal departments, we were given data from the Ontario Trillium Foundation, and we manually gathered data from one private foundation.</p>
          </div>
      </div>
      <!--footer-->
      <div class="row text-right">
        <div class="col-md-12">
          <p class="footer">Powered by <img alt="Data Ajah" title="Data Ajah" src="{{ static_path('img/logo-ajah.png') }}"></p>
        </div>
      </div>
      <!--end footer -->
      <div class="row box-vide">
        <div class="col-md-12"></div>
      </div>
  </div>
</div><!--/container-->

{% endblock %}
