<!DOCTYPE html>
<html lang="{{ request.locale }}" style="margin-left: -1px;">
  <head>
    <meta http-equiv='X-UA-Compatible' content="IE=9" />
    <title>{% block title %}Landscape{% endblock %}</title>
    <link href="{{ static_path('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ static_path('css/styles.css') }}" rel="stylesheet" />
    <link href="{{ static_path('css/scryer-style.css') }}" rel="stylesheet" />
    <link href="{{ static_path('css/boom.css') }}" rel="stylesheet" />
    <link href="{{ static_path('css/social.min.css') }}" rel="stylesheet" />
    <link href="{{ static_path('css/leaflet.css') }}" rel="stylesheet" />
    <link href="{{ static_path('css/leaflet.awesome-markers.css') }}" rel="stylesheet" />
    <link href="{{ static_path('css/MarkerCluster.Default.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:700,400' rel='stylesheet' type='text/css'>
    <!--end code template-->
  </head>
  <body class="{% block bodyclass %}{% endblock %}" >
    <div class="main container-fluid">

      {% block main %}<p>No main content to display</p>{% endblock %}
    </div>

    <!-- Scryer -->
    
    <script type="text/javascript" src="{{ static_path('js/Chart.min.js') }}?version={{ request.registry.settings['asset_version'] }}"></script>
    <script type="text/javascript" src="{{ static_path('js/Chart.custom_tooltips.js') }}?version={{ request.registry.settings['asset_version'] }}"></script>
    <script type="text/javascript" src="{{ static_path('js/scryer.js') }}?version={{ request.registry.settings['asset_version'] }}"></script>
    <script type="text/javascript" src="{{ static_path('js/scryer.tools.js') }}?version={{ request.registry.settings['asset_version'] }}"></script>

    {% block javascript %}{% endblock %}

  </body>
</html>
