<h1>CSV Import</h1>

<form action='{{ request.route_path('csv_import.index') }}'
      method="post" enctype="multipart/form-data">
  <input id="csv" name="csv" type="file" value="" />
  <input type='submit'>
</form>

{% if error %}
  error: {{ error }}
{% endif %}