{% extends "two_columns.jinja2" %}
{% block menu %}
 <a href="{{ request.route_path('about') }}" class="dropdown-toggle dropdown-submenu">About&nbsp;&nbsp;<i class="fa fa-caret-right"></i></a>
 {% endblock %}
{% macro search_form() %}
  <form id="search-form">
    <input type="hidden" name="limit" value="{{ limit }}" />
    <input type="hidden" name="source" value="{{ source }}" />
    <input type="hidden" name="page" value="{{ page }}" />

    {% if 'source' not in hidden_filter_fields %}
    <li  class="box-filter">
      <label>Organization</label>
      <div class="controls">
        <input autocomplete="off" id="name" name="name" value="{{ name }}" placeholder="Name search" class="form-control" type="text" />
      </div>
    </li>
    {% endif %}

    {% if 'search' not in hidden_filter_fields %}
    <li  class="box-filter">
      <label>Keyword</label>
      <div class="controls">
        <input autocomplete="off" id="search" name="search" value="{{ search }}" placeholder="Project keyword search" class="form-control" type="text" />
      </div>
    </li>
    {% endif %}

    {% if 'province' not in hidden_filter_fields %}
    <li  class="box-filter">
      <label>Province</label>
      <div class="controls">
        <select id="province" multiple="multiple" class="form-control" name="province">
        {% if not province %}
          <option value="" >{% trans %}All provinces{% endtrans %}</option>
        {% else %}
          <option value="">{% trans %}All provinces{% endtrans %}</option>
        {% endif %}
        {% for code, name in provinces.items() %}
        {% if code in province|lower %}
          <option selected="selected" value="{{ code }}">{{ name }}</option>
        {% else %}
          <option value="{{ code }}">{{ name }}</option>
        {% endif %}
        {% endfor %}
        </select>
      </div>
    </li>
    {% endif %}

    {% if 'city' not in hidden_filter_fields %}
    <li  class="box-filter">
      <div class="control-group">
        <label class="control-label">City</label>
        <div class="controls">
          <input autocomplete="off" id="city" class="form-control" name="city" value="{{ city }}" placeholder="City search" type="text" />
        </div>
      </div>
    </li>
    {% endif %}
    
    {% if 'source' not in hidden_filter_fields %}
    <li  class="box-filter">
      <label>Funder</label>
      <div class="controls">
        <select id="source" class="form-control" name="source">
        {% if not source %}
          <option value="" selected>{% trans %}all{% endtrans %}</option>
        {% else %}
          <option value="">{% trans %}all{% endtrans %}</option>
        {% endif %}
        {% for s in sources %}
        {% if s[0] == source %}
          <option selected value="{{ s[0] }}">{{ funder_label(s[0]) }}</option>
        {% else %}
          <option value="{{ s[0] }}">{{ funder_label(s[0]) }}</option>
        {% endif %}
        {% endfor %}
        </select>
      </div>
    </li>
    {% endif %}

    {% if 'start_year' not in hidden_filter_fields %}
    <li  class="box-filter">
      <label>From (year)</label>
      <div class="controls">
        <select id="date_from" class="form-control" name="date_from">
          <option></option>
          {% for year in year_range %}
          {% if year == date_from %}
          <option selected>{{ year }}</option>
          {% else %}
          <option>{{ year }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </li>
    {% endif %}
    
    {% if 'end_year' not in hidden_filter_fields %}
    <li  class="box-filter">
      <label>To (year)</label>
      <div class="controls">
        <select id="date_to" class="form-control" name="date_to">
          <option></option>
          {% for year in year_range %}
          {% if year == date_to %}
          <option selected>{{ year }}</option>
          {% else %}
          <option>{{ year }}</option>
            {% endif %}
           {% endfor %}
        </select>
      </div>
    </li>
    {% endif %}
  </form>
{% endmacro %}

{% macro utilities() %}
  <li class="box-filter">
    <div class="control-group">
      <a id="grant-export" type="button" class="btn btn-info btn-export" data-url="{{ request.route_path('grant.export') }}" href="{{ request.route_path('grant.export') }}">
         Export Search Results Data
      </a>
      <div class="clearfix"></div>
    </div>
  </li>
{% endmacro %}

{% block left_col %}
  <!-- sidebar-wrapper -->
  <div id="sidebar-wrapper" class="pull-left stretch-right">
    <div class="sidebar">
      <ul class="nav">
         <li>
          <a href="#" data-target="#sidebar-wrapper" class="sidebar-toggle search-title" title="Toggle sidebar">
            <i class="fa fa-fw fa-bars"></i>
            <span class="title-nav">Search</span>
          </a>
        </li>
      </ul>
      <ul id="menuSm" class="nav">
        <li>{{ search_form() }}</li>
        <li> {{ utilities() }}</li>
        <li class="box-filter" style="padding-top:0px;"><a class="btn-reset" href="{{ request.route_path('index') }}">Reset search &#63;</a></li>
      </ul>
    </div>
  </div>
  <!-- end sidebar -wrapper -->
{% endblock %}

{% block right_col %}
            <div class="container-fluid box-search-filter">
              <div class="row">
                <div class="col-md-12">
                  <a href="#" class="mobile search-title" title="Toggle sidebar">
                    <i class="fa fa-fw fa-bars"></i><i class="fa fa-caret-down menu-icon"></i>
                     Search Filter
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {% if instance %}
                <h2>{{ instance.name }}</h2>
                <p style="font-size:18px;font-style: italic;">{{ instance.description }}</p>
                {% endif %}

               </div>
            </div>
            <div class="row margin-top-15 margin-bottom-15" id="grant-summary">
            </div>
            </div><!-- end wrap-result -->
          <!-- end result col -->
          
          <div class="wrap-result stats-map">
            
            <div class="col-md-6 col-sm-12">
              <hr>
              <h3 class="text-center" style="margin-top: 0px;">Grants by Funder</h3>  
              <div class="col-md-5 col-sm-5" style="margin-top: 7%;">
                    <div id="js-legend" class="chart-legend"></div>
                </div>
                <div class="col-md-7 col-sm-7 canvas-container" style="margin-top: 7%;">
                <div id="chartjs-tooltip"></div>
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            
            <div class="col-md-6 col-sm-12">
              <hr>
              <h3 class="text-center" style="margin-top:0px;">Grant Map</h3>
              <div class="col-md-12" id="grant-map">
              </div>
            </div>
          </div>
          <!-- end result two col -->

          <div class="tab-content">
            <hr>
            <div class="tab-pane panel active">
                <div class="panel-body">
                    <div class="responsive-table-line" id="grant-table">
                    </div>
                <div>
            </div>
          </div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ static_path('js/scryer.grant.js') }}?version={{ request.registry.settings['asset_version'] }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#csv-export").on("click", function() {
            var $export_form = $("#export-form");
            $export_form.submit();
        });

        App.attachTo("body", {
            grant_table_url: "{{ request.route_path('grant.table') }}",
            grant_summary_url: "{{ request.route_path('grant.summary') }}",
            suggestion_url: "{{ request.route_path('grant.suggestion') }}",
            city_suggestion_url: "{{ request.route_path('grant.city_suggestion') }}",
            limit: {{ limit }},
            source: "{{ source }}",
            page: {{ page }},
            search: "{{ search }}",
            name: "{{ name }}",
            sort: "{{ sort }}",
            city: "{{ city }}",
            province: "{{ province }}",
            date_from: "{{ date_from }}",
            date_to: "{{ date_to }}",
            map_options: {{ map_options|safe }}
        });

    });

    //Code to hide and show sidebar

    $('.sidebar-toggle').click(function(){
      /* toggle the sidebar */
      $('#wrapper').addClass("active");                   // add override state
      $('#wrapper').toggleClass("collapsed");             // collapse if not already collapsed
      $('#sidebar-wrapper').toggleClass("stretch-right");

      /* change the toggle icon */
      $(this).find('.toggle-icon').toggleClass('fa-caret-left');

      if($("#wrapper").hasClass("collapsed")){
        $("#sidebar-wrapper").find("#menuSm").hide();
        $("#sidebar-wrapper").find(".title-nav").hide();
        $("#main-wrapper").find(".leaflet-container").addClass("container-google-map");
        $("#main-wrapper").find(".leaflet-map-pane").addClass("image-google-map");
      }else{
        $("#sidebar-wrapper").find("#menuSm").show();
        $("#sidebar-wrapper").find(".title-nav").show();
        $("#main-wrapper").find(".leaflet-container").removeClass("container-google-map");
        $("#main-wrapper").find(".leaflet-map-pane").removeClass("image-google-map");
      }
    });
    $("#grant-table-results > thead > tr > th.active").click(function(){
      $(this).addClass("active");
      $(this).removeClass("active");
    });

    $(window).resize(function(e){
    /* if the sidebar hasn't been collapsed, reset it by removing the active state */
      if ($(this).width()>768 && !$('#wrapper').hasClass("collapsed")) {
        $('#wrapper').removeClass("active");
      }
    });

    //Code to show and hide the search filter responsive
    $("a.mobile").click(function(){
      $("#sidebar-wrapper").slideToggle('slow');
    });

    window.onresize = function(event) {
      if($(window).width() > 768){
        $("#sidebar-wrapper").show();
      }
      if($(window).width() < 1600){
        $(".box-search-filter").addClass("fullMobile");
      }
    };
  </script>

{% endblock %}
