{% macro sort_element(marker, label) %}
  <th>
    <a {% if sort == marker + "_down" %}
       class="grant-sort active-down"
       data-sort="{{ marker }}_up"
     {% elif sort == marker + "_up" %}
       class="grant-sort active-up"
       data-sort="{{ marker }}_down"
     {% else %}
       class="grant-sort"
       data-sort="{{ marker }}_down"
     {% endif %}
     href="#">
     {{ _(label) }}
    </a>
  </th>
{% endmacro %}

{% macro display_grant_table(pager) %}
  <table class="table table-condensed table-body-center pull-down" id="grant-table-results">
    <thead>
      <tr>
        {{ sort_element("name", "Organization") }}
        {{ sort_element("location", "Location") }}
        {{ sort_element("date", "Date") }}
        {{ sort_element("amount", "Funding") }}
        {{ sort_element("source", "Funder") }}
        {{ sort_element("purpose", "Project Description") }}
      </tr>
      <td class="td-line-white" colspan="6"></td>
    </thead>
    <tbody>

      {% if pager.item_count %}
        {% for grant in pager %}
          <tr class="{{ loop.cycle('even', 'odd') }}">
            <td data-title='Organization' class="td-organization">
              <a class="grant-name" href="/grants/{{ grant.id }}">{{ grant.name|highlight(*terms)|safe }}</a>
            </td>
            <td data-title='Location' class="td-location">
              {% if grant.city and grant.province %}
                {{ grant.city|capitalize }} ({{ grant.province|upper }})
              {% elif grant.city %}
                {{ grant.city|capitalize }}
              {% elif grant.province %}
                {{ grant.province|upper }}
              {% endif %}
            </td>
            <td data-title='Date' class="td-date">
              {{ grant.date|format_datetime(format='YYY-MM-dd', locale='en') }}
              {% if grant.end_date %}
              &nbsp;-&nbsp;
                {{ grant.end_date|format_datetime(format='YYYY-MM-dd', locale='en') }}
              {% endif %}
            </td>
            <td data-title='Amout' class="td-amount">{{ grant.amount|money }}</td>
            <td data-title='Funder'>
              <a class="" data-value="" href="/funder/{{ grant.funder_id }}">
                {{ funder_label(grant.source) }}
              </a>
            </td>
            <td data-title='Description' class="td-description">{{ grant.purpose|highlight(*terms)|safe }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endmacro %}

{% macro render_pagination(pager, max_page) %}
  <ul class="pagination">

    {% if pager.page != pager.first_page  %}
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for p in range(pager.item_count) %}
      {% if p <= max_page %}
        {% if p != pager.page %}
          <li>
            <a href="#">{{ p }}</a>
          </li>
        {% else %}
          <li class="active">
            <a href="#">{{ p }}</a>
          </li>
        {% endif %}
      {% else %}
        <li class="disabled">
          <span class="ellipsis">&hellip;</span>
        </li>
      {% endif %}
    {% endfor %}

    {% if pager.page != pager.last_page %}
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}

  </ul>


  
{% endmacro %}

<!--pagination-->
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
          <div class="pager_wrapper text-center box-pagination-header ">
            <ul class="pagination">
                {{ pager.pager() }}
            </ul>
          </div>
      </div>
    </div>
    {{ display_grant_table(pager) }}
    <div class="row">
      <div class="col-md-12">
          <div class="pager_wrapper text-center ">
            <ul class="pagination">
                {{ pager.pager() }}
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<!--end pagination -->
<!--footer-->
<div class="row text-right">
  <div class="col-md-12">
    <p class="footer">Powered by <img alt="Data Ajah" title="Data Ajah" src="{{ static_path('img/logo-ajah.png') }}"></p>
  </div>
</div>
<!--end footer -->



