{% extends "two_columns.jinja2" %}
{% block menu %}
 <a href="{{ request.route_path('about') }}" class="dropdown-toggle dropdown-submenu">About&nbsp;&nbsp;<i class="fa fa-caret-right"></i></a>
 {% endblock %}

{% block left_col %}
  <!-- sidebar-wrapper -->
  <div id="sidebar-wrapper" class="pull-left stretch-right">
    <div class="sidebar">
      <ul id="menuSm" class="nav">
        <li>
          <a href="{{ request.route_path('index') }}" class="box-about" ><i class="fa fa-caret-left menu-icon"></i> <span >Back to Search</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end sidebar -wrapper -->
{% endblock %}

{% block right_col %}
<div class="container-fluid">
    <div class="about fade-in">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ grant.name|highlight(*terms)|safe }}</h1>
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Location</h2>
                <p>{% if grant.city and grant.province %}
                  {{ grant.city|capitalize }} ({{ grant.province|upper }})
                {% elif grant.city %}
                  {{ grant.city|capitalize }}
                {% elif grant.province %}
                  {{ grant.province|upper }}
                {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Date</h2>
                <p>{{ grant.date|format_datetime(format='YYY-MM-dd', locale='en') }}
                {% if grant.end_date %}
                &nbsp;-&nbsp;
                  {{ grant.end_date|format_datetime(format='YYYY-MM-dd', locale='en') }}
                {% endif %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Amount</h2>
                <p>{{ grant.amount|money }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Funder</h2>
                <p><a class="grant-source" data-value="{{ grant.source }}" href="#">
                  {{ funder_label(grant.source) }}
                </a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Description</h2>
                <p>{{ grant.purpose|highlight(*terms)|safe }}</p>
            </div>
        </div>
        <!--footer-->
        <div class="row text-right">
          <div class="col-md-12">
            <p class="footer">Powered by <img alt="Data Ajah" title="Data Ajah" src="{{ static_path('img/logo-ajah.png') }}"></p>
          </div>
        </div>
        <!--end footer -->
        <div class="row box-vide">
          <div class="col-md-12"></div>
        </div>
    </div>
</div>



{% endblock %}
