<table id="grant-table" class="table results table-striped">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Location</th>
      <th>Date</th>
      <th>Funder</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for grant in grants %}
      <tr class="{{ loop.cycle('even', 'odd') }}">
        <td>
          {{ grant.name|highlight(*terms)|safe }}
        </td>
        <td>
          {% if grant.city and grant.province %}
            {{ grant.city|capitalize }} ({{ grant.province|upper }})
          {% elif grant.city %}
            {{ grant.city|capitalize }}
          {% elif grant.province %}
            {{ grant.province|upper }}
          {% endif %}
        </td>
        <td>
          {{ grant.date|format_datetime(format='YYY-MM-dd', locale='en') }}
          {% if grant.end_date %}
            &nbsp;-&nbsp;
            {{ grant.end_date|format_datetime(format='YYYY-MM-dd', locale='en') }}
          {% endif %}
        </td>
        <td>
          {{ funder_label(grant.source) }}
        </td>
        <td>{{ grant.purpose|highlight(*terms)|safe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
