<div id="grant-modal" class="modal fade">
  <div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Projects in this area</h4>
      </div>
      <div class="modal-body" style="height: 500px; overflow-y: scroll;">
        <p id="modal-table-results">
          <span style="margin-left: 249px; color: #428bca; font-weight: bold;">Loading...</span>
          <img style="margin-left: 266px;" src="{{ static_path('img/loader.gif') }}" />
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
