    <div class="col-md-3 col-xs-6">
      <a href="#" class="dashboard-block">
        <div class="rotate">
        </div>
        <div class="details">
          <span class="title">Projects</span>
          <span class="sub">{{ grants_count }}</span>
        </div><!--/details-->        
      </a><!--/dashboard-block1-->
    </div>
    <div class="col-md-3 col-xs-6">
      <a href="#" class="dashboard-block">
        <div class="rotate">
        </div>
        <div class="details">
          <span class="title">Total Funding</span>
          <span class="sub">{{ value|money }}</span>
        </div><!--/details-->        
      </a><!--/dashboard-block2-->
    </div>
    <div class="col-md-3 col-xs-6">
      <a href="#" class="dashboard-block">
        <div class="rotate">
        </div>
        <div class="details">
          <span class="title">Since (date)</span>
          <span class="sub">
            {{ min_date|format_datetime(format="MMMM d, YYYY", locale="en") }}           
          </span>
        </div><!--/details-->        
      </a><!--/dashboard-block3-->
    </div>
     <div class="col-md-3 col-xs-6">
      <a href="#" class="dashboard-block">
        <div class="rotate">
        </div>
        <div class="details">
          <span class="title">Until (date)</span>
          <span class="sub">
            {{ max_date|format_datetime(format="MMMM d, YYYY", locale="en") }}            
          </span>
        </div><!--/details-->        
      </a><!--/dashboard-block3-->
    </div>
    
    
  
