<!DOCTYPE html>
<html>
<head>
  <title>Add Instance</title>
    <link href="{{ static_path('css/leaflet.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ static_path('js/scryer.js') }}?version={{ request.registry.settings['asset_version'] }}"></script>
    <script type="text/javascript" src="{{ static_path('js/instance_edit.js') }}?version={{ request.registry.settings['asset_version'] }}"></script>
    <script type="text/javascript">
      $(function() {
        var instanceExists = {% if instance %}true{% else %}false{% endif %};

        var mapOptions = {};
        {% if instance and instance.map_options_json %}
          mapOptions = {{ instance.map_options_json|safe }};
        {% endif %}

        init({
          mapOptions: mapOptions,
          instanceExists: instanceExists
        });
      });
    </script>
</head>
<body>

<h3>{% if instance %}Edit{% else %}Create new{% endif %} instance</h3>

{% if error %}
  <div style='color:red; margin-bottom:20px;'><b>Error</b>: {{ error}}</div>
{% endif %}

<form method='post' action="{{ action }}">
  <input type='hidden' name='mapOptions' value='{}'>
  <input type='hidden' name='instanceId' value='{{ instance.id }}'>

  <div>Instance name: <input name='name' value='{{ instance.name }}'></div>
  <div style='color:gray; font-size: 0.8em; margin-bottom: 10px;'>Instance slug (web address): <input name='slug' value='{{ instance.slug }}'></input></div>
  <div style='display:none; color:orange; margin-bottom: 10px;' id='slugChangeWarning'>Warning: changing the slug may result in broken links to the current saved slug</div>
  <div style='margin-bottom:30px;'>
    Instance description:
    <textarea name='description' cols='50' rows='4'>{{ instance.description }}</textarea>
  </div>

  <select name="filter_source">
  {% if not source %}
    <option value="" selected>{% trans %}none{% endtrans %}</option>
  {% else %}
    <option value="">{% trans %}none{% endtrans %}</option>
  {% endif %}
  {% for s in sources[0] %}
  {% if instance and s[0] == instance.filter.get("source", {}).value %}
    <option selected value="{{ s[0] }}">{{ funder_label(s[0]) }}</option>
  {% else %}
    <option value="{{ s[0] }}">{{ funder_label(s[0]) }}</option>
  {% endif %}
  {% endfor %}
  </select>
  <input type='checkbox'
    name='hide_source'
    {% if instance and instance.filter.get("source", {}).hide %}checked{% endif %}>
  Hide from users

  {% set fields = [
    {'name': 'Organization Name', 'field': 'name'},
    {'name': 'City', 'field': 'city'},
    {'name': 'Province', 'field': 'province'},
    {'name': 'Keyword', 'field': 'search'},
    {'name': 'Start date', 'field': 'start_year'},
    {'name': 'End date', 'field': 'end_year'},
  ]
  %}

  {% for field in fields %}
    <div>
      {{ field.name }}:
      <input
        name='filter_{{ field.field }}'
        value='{% if instance and instance.filter[field.field] is defined %}{{ instance.filter[field.field].value }}{% endif %}'/>
      <input type='checkbox'
        name='hide_{{ field.field }}'
        {% if instance and instance.filter[field.field] is defined and instance.filter[field.field].hide %}checked{% endif %}>
      Hide from users
    </div>
  {% endfor %}

  <div style='margin-top:10px; margin-bottom:10px;'><b>Note</b>: You can separate multiple values with commas.</div>

  <div style='margin-top:40px'>Click to define the map center; zoom to the desired level:</div>
  <div id="map" style='width:500px; height: 300px;'></div>

  <div style='margin-top:30px'><input type='submit' value='{% if instance %}Save{% else %}Create{% endif %}'></div>
</form>

</body>
</html>