<h3>Instances</h3>

{% for instance in instances %}
  <div>
    <a href="/admin/instance/{{ instance.slug }}/">{{ instance.name }}</a>
      (<a href="/instance/{{ instance.slug }}/">view on site</a>) -
      <a href="/admin/delete/instance/{{ instance.slug }}/">Delete</a>
  </div>
{% endfor %}
