<h3>Delete Instance</h3>
<p>Are you sure you want to delete instance "{{ instance.name }}"</p>
<form method="POST" style="display: inline">
<button>Confirm</button>
</form>
<form action="/admin/instance/" method="POST" style="display: inline">
<button>Abort</button>
</form>
