{% extends "base.jinja2" %}

{% block main %}
<br>
<div id="login" class="span4 white-box" style="float:none; margin: 0 auto;">
  <form action="{{ request.route_path('login') }}" method="POST" class="form">
    {% if redirect %}
      <input type="hidden" name="redirect" value="{{ redirect }}">
    {% endif %}
    <fieldset>
      <legend>Login</legend>
      <label for="username">Username</label>
      <div class="div_text">
        <div class="input-prepend">
          <span class="add-on">
            <i class="icon-user" style='padding-right: 6px;'></i>
          </span>
          <input name="user" type="text" value="" class="username">
        </div>
      </div>

      <label for="password">Password</label>
      <div class="div_text">
        <div class="input-prepend">
          <span class="add-on">
            <i class="icon-lock" style='padding-right: 6px;'></i>
          </span>
          <input name="password" type="password" class="password">
        </div>
      </div>

      <hr>

      <div class="button_div">
        <button type="submit" name="Submit" class="btn btn-large btn-primary">
          Sign In
        </button>
      </div>

    </fieldset>
  </form>
</div>
{% endblock %}
