{% extends "base.jinja2" %}

{% block main %}
<!--header -->
<div>
  <header id="header" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header col-sm-3">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand pad-left-0" href="{{ request.route_path('index') }}">
               <strong>Sector</strong><span class="glyphicon glyphicon-stats"></span><span class="logo-name">Landscape</span>
              </a>
          </div>
          <div class="navbar-header col-sm-7 text-center">
            <p style="font-size: 24px;font-style: italic;color:#fff;margin-top:0.5em;margin-bottom:0;">
                      Using open grant data to understand the Canadian non-profit sector.
            </p>
            <p>
              <a href="{{ request.route_path('about') }}" style="font-size: 20px;padding-bottom:0.5em">Learn more</a>
            </p>
          </div>
          <nav class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  {% block menu %}default{% endblock%}
                </li>
              </ul>
          </nav>
      </div>
  </header>
</div>
<!-- end header -->

<div id="wrapper">
	{% block left_col %}{% endblock %}
  <!-- main-wrapper -->
  <div id="main-wrapper" class="col-sm-12">
    <div id="main">
      <div id="results">
        <div><!--container fluid-->
          <!-- result col-->
          <div class="wrap-result"><!--wrap result-->
			     {% block right_col %}{% endblock %}
        </div><!--/container-->
      </div>
    </div><!-- main -->
  </div><!--main-wrapper-->
</div>

{% endblock %}
