a.pager_link,
.pagination .active table a {
    background-color: transparent !important;
    border: none;
}

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
    background-color: white !important;
    border: none;
}

#map-tab.disabled {
    background-color: #428bca;
    opacity: 0.5;
    pointer: default;

    img {
        opacity: 1;
    }
}

.pager_wrapper {
    margin-top: -42px;
    margin-bottom: 27px;
}

#grant-table-results {
    margin-top: -16px;
}

.nav-pills > li > a {
    border-radius: 4px;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #EEE;
}

h3 {
    font-size: 30px;
}
