body {
  background: url(/static/img/crossword.png); }

  table {
    border-radius: 10px;
    background-color: #eee; }

    div.main {
      margin-top: 0px;
      padding: 0; }

      table.results a.active-down {
        font-weight: 900;
        text-decoration: underline; }

        table.results a.active-up {
          font-weight: 900;
          text-decoration: underline; }

          .autocomplete-suggestions {
            background-color: #fff;
            padding: 6px;
            border: 1px solid #ccc; }
            .autocomplete-suggestions .autocomplete-suggestion {
              cursor: pointer;
              padding: 5px; }
              .autocomplete-suggestions .autocomplete-suggestion:hover {
                color: #fff;
                background-color: #78C5EB; }

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }

  .btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active,
  .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active,
  .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.12); }

    .btn:active, .btn.active {
      background-image: none; }

      .btn-default {
        text-shadow: 0 1px 0 #fff;
        background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
        background-image: linear-gradient(to bottom, #fff, #e0e0e0);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
                endColorstr='#ffe0e0e0', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        background-repeat: repeat-x;
        border-color: #dbdbdb;
        border-color: #ccc; }

        .btn-default:hover, .btn-default:focus {
          background-color: #e0e0e0;
          background-position: 0 -15px; }

          .btn-default:active, .btn-default.active {
            background-color: #e0e0e0;
            border-color: #dbdbdb; }

            .btn-primary {
              background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
              background-image: linear-gradient(to bottom, #428bca, #2d6ca2);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',
                            endColorstr='#ff2d6ca2', GradientType=0);
              filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
              background-repeat: repeat-x;
              border-color: #2b669a; }

              .btn-primary:hover, .btn-primary:focus {
                background-color: #2d6ca2;
                background-position: 0 -15px; }

                .btn-primary:active, .btn-primary.active {
                  background-color: #2d6ca2;
                  border-color: #2b669a; }

                  .btn-success {
                    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
                    background-image: linear-gradient(to bottom, #5cb85c, #419641);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',
                                        endColorstr='#ff419641', GradientType=0);
                    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                    background-repeat: repeat-x;
                    border-color: #3e8f3e; }

                    .btn-success:hover, .btn-success:focus {
                      background-color: #419641;
                      background-position: 0 -15px; }

                      .btn-success:active, .btn-success.active {
                        background-color: #419641;
                        border-color: #3e8f3e; }

                        .btn-info:hover, .btn-info:focus {
                          background-color: #2aabd2;
                          background-position: 0 -15px; }

                          .btn-info:active, .btn-info.active {
                            background-color: #2aabd2;
                            border-color: #28a4c9; }

                            .btn-warning {
                              background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
                              background-image: linear-gradient(to bottom, #f0ad4e, #eb9316);
                              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',
                                                            endColorstr='#ffeb9316', GradientType=0);
                              filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                              background-repeat: repeat-x;
                              border-color: #e38d13; }

                              .btn-warning:hover, .btn-warning:focus {
                                background-color: #eb9316;
                                background-position: 0 -15px; }

                                .btn-warning:active, .btn-warning.active {
                                  background-color: #eb9316;
                                  border-color: #e38d13; }

                                  .btn-danger {
                                    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
                                    background-image: linear-gradient(to bottom, #d9534f, #c12e2a);
                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',
                                                                        endColorstr='#ffc12e2a', GradientType=0);
                                    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                                    background-repeat: repeat-x;
                                    border-color: #b92c28; }

                                    .btn-danger:hover, .btn-danger:focus {
                                      background-color: #c12e2a;
                                      background-position: 0 -15px; }

                                      .btn-danger:active, .btn-danger.active {
                                        background-color: #c12e2a;
                                        border-color: #b92c28; }

                                        .thumbnail, .img-thumbnail {
                                          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
                                          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

                                          .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
                                            background-color: #e8e8e8;
                                            background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
                                            background-image: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
                                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
                                                                                        endColorstr='#ffe8e8e8', GradientType=0);
                                            background-repeat: repeat-x; }

                                            .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover,
                                            .dropdown-menu > .active > a:focus {
                                              background-color: #357ebd;
                                              background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
                                              background-image: linear-gradient(to bottom, #428bca, #357ebd);
                                              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',
                                                                                            endColorstr='#ff357ebd', GradientType=0);
                                              background-repeat: repeat-x; }

                                              .navbar-nav p {
                                                font-size: 17px; }

                                                .navbar-nav > li {
                                                  margin-bottom: 5px;
                                                  margin-top: 5px; }

                                                  .navbar-default {
                                                    background-color: #fff; }

                                                    .navbar-default .navbar-nav > li > a {
                                                      font-size: 17px; }

                                                      .navbar-default .navbar-nav > .active > a {
                                                        background-color: #fff;
                                                        color: #78C5EB !important;
                                                        border-radius: 4px; }

                                                        .navbar-brand {
                                                          height: 85px;
                                                          padding: 0px 15px; }

                                                          .navbar-brand, .navbar-nav > li > a {
                                                            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
                                                            padding: 0px; }

                                                            .navbar-inverse {
                                                              background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
                                                              background-image: linear-gradient(to bottom, #3c3c3c, #222);
                                                              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c',
                                                                                                                            endColorstr='#ff222222', GradientType=0);
                                                              filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                                                              background-repeat: repeat-x; }

                                                              .navbar-inverse .navbar-nav > .active > a {
                                                                background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
                                                                background-image: linear-gradient(to bottom, #222, #282828);
                                                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',
                                                                                                                                endColorstr='#ff282828', GradientType=0);
                                                                background-repeat: repeat-x;
                                                                -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
                                                                box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25); }

                                                                .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
                                                                  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

                                                                  .navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
                                                                    border-radius: 0; }

                                                                    .alert {
                                                                      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
                                                                      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
                                                                      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }

                                                                      .alert-success {
                                                                        background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
                                                                        background-image: linear-gradient(to bottom, #dff0d8, #c8e5bc);
                                                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8',
                                                                                                                                                endColorstr='#ffc8e5bc', GradientType=0);
                                                                        background-repeat: repeat-x;
                                                                        border-color: #b2dba1; }

                                                                        .alert-info {
                                                                          background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
                                                                          background-image: linear-gradient(to bottom, #d9edf7, #b9def0);
                                                                          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7',
                                                                                                                                                    endColorstr='#ffb9def0', GradientType=0);
                                                                          background-repeat: repeat-x;
                                                                          border-color: #9acfea; }

                                                                          .alert-warning {
                                                                            background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
                                                                            background-image: linear-gradient(to bottom, #fcf8e3, #f8efc0);
                                                                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3',
                                                                                                                                                        endColorstr='#fff8efc0', GradientType=0);
                                                                            background-repeat: repeat-x;
                                                                            border-color: #f5e79e; }

                                                                            .alert-danger {
                                                                              background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
                                                                              background-image: linear-gradient(to bottom, #f2dede, #e7c3c3);
                                                                              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede',
                                                                                                                                                            endColorstr='#ffe7c3c3', GradientType=0);
                                                                              background-repeat: repeat-x;
                                                                              border-color: #dca7a7; }

                                                                              .progress {
                                                                                background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
                                                                                background-image: linear-gradient(to bottom, #ebebeb, #f5f5f5);
                                                                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',
                                                                                                                                                                endColorstr='#fff5f5f5', GradientType=0);
                                                                                background-repeat: repeat-x; }

                                                                                .progress-bar {
                                                                                  background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
                                                                                  background-image: linear-gradient(to bottom, #428bca, #3071a9);
                                                                                  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',
                                                                                                                                                                    endColorstr='#ff3071a9', GradientType=0);
                                                                                  background-repeat: repeat-x; }

                                                                                  .progress-bar-success {
                                                                                    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
                                                                                    background-image: linear-gradient(to bottom, #5cb85c, #449d44);
                                                                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',
                                                                                                                                                                        endColorstr='#ff449d44', GradientType=0);
                                                                                    background-repeat: repeat-x; }

                                                                                    .progress-bar-info {
                                                                                      background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
                                                                                      background-image: linear-gradient(to bottom, #5bc0de, #31b0d5);
                                                                                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',
                                                                                                                                                                            endColorstr='#ff31b0d5', GradientType=0);
                                                                                      background-repeat: repeat-x; }

                                                                                      .progress-bar-warning {
                                                                                        background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
                                                                                        background-image: linear-gradient(to bottom, #f0ad4e, #ec971f);
                                                                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',
                                                                                                                                                                                endColorstr='#ffec971f', GradientType=0);
                                                                                        background-repeat: repeat-x; }

                                                                                        .progress-bar-danger {
                                                                                          background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
                                                                                          background-image: linear-gradient(to bottom, #d9534f, #c9302c);
                                                                                          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',
                                                                                                                                                                                    endColorstr='#ffc9302c', GradientType=0);
                                                                                          background-repeat: repeat-x; }

                                                                                          .list-group {
                                                                                            border-radius: 4px;
                                                                                            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
                                                                                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

                                                                                            .list-group-item.active, .list-group-item.active:hover,
                                                                                            .list-group-item.active:focus {
                                                                                              text-shadow: 0 -1px 0 #3071a9;
                                                                                              background-image: -webkit-linear-gradient(top, #428bca 0%, #3278b3 100%);
                                                                                              background-image: linear-gradient(to bottom, #428bca, #3278b3);
                                                                                              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',
                                                                                                                                                                                            endColorstr='#ff3278b3', GradientType=0);
                                                                                              background-repeat: repeat-x;
                                                                                              border-color: #3278b3; }

                                                                                              .panel {
                                                                                                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
                                                                                                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

                                                                                                .panel-default > .panel-heading {
                                                                                                  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
                                                                                                  background-image: linear-gradient(to bottom, #f5f5f5, #e8e8e8);
                                                                                                  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
                                                                                                                                                                                                    endColorstr='#ffe8e8e8', GradientType=0);
                                                                                                  background-repeat: repeat-x; }

                                                                                                  .panel-primary > .panel-heading {
                                                                                                    background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
                                                                                                    background-image: linear-gradient(to bottom, #428bca, #357ebd);
                                                                                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',
                                                                                                                                                                                                        endColorstr='#ff357ebd', GradientType=0);
                                                                                                    background-repeat: repeat-x; }

                                                                                                    .panel-success > .panel-heading {
                                                                                                      background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
                                                                                                      background-image: linear-gradient(to bottom, #dff0d8, #d0e9c6);
                                                                                                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8',
                                                                                                                                                                                                            endColorstr='#ffd0e9c6', GradientType=0);
                                                                                                      background-repeat: repeat-x; }

                                                                                                      .panel-info > .panel-heading {
                                                                                                        background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
                                                                                                        background-image: linear-gradient(to bottom, #d9edf7, #c4e3f3);
                                                                                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7',
                                                                                                                                                                                                                endColorstr='#ffc4e3f3', GradientType=0);
                                                                                                        background-repeat: repeat-x; }

                                                                                                        .panel-warning > .panel-heading {
                                                                                                          background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
                                                                                                          background-image: linear-gradient(to bottom, #fcf8e3, #faf2cc);
                                                                                                          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3',
                                                                                                                                                                                                                    endColorstr='#fffaf2cc', GradientType=0);
                                                                                                          background-repeat: repeat-x; }

                                                                                                          .panel-danger > .panel-heading {
                                                                                                            background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
                                                                                                            background-image: linear-gradient(to bottom, #f2dede, #ebcccc);
                                                                                                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede',
                                                                                                                                                                                                                        endColorstr='#ffebcccc', GradientType=0);
                                                                                                            background-repeat: repeat-x; }

                                                                                                            .well {
                                                                                                              background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
                                                                                                              background-image: linear-gradient(to bottom, #e8e8e8, #f5f5f5);
                                                                                                              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',
                                                                                                                                                                                                                            endColorstr='#fff5f5f5', GradientType=0);
                                                                                                              background-repeat: repeat-x;
                                                                                                              border-color: #dcdcdc;
                                                                                                              -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
                                                                                                              box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1); }

                                                                                                              .pagination .active a {
                                                                                                                background-color: #78C5EB;
                                                                                                                border-color: #78C5EB; }

                                                                                                                .navbar-brand {
                                                                                                                  text-transform: uppercase;
                                                                                                                  color: #78C5EB !important;
                                                                                                                  font-size: 45px; }

                                                                                                                  .row-nav {
                                                                                                                    clear: both;
                                                                                                                    padding-left: 40px;
                                                                                                                    background-color: #78C5EB; }
                                                                                                                    .row-nav a {
                                                                                                                      color: #fff !important; }
                                                                                                                      .row-nav a:hover {
                                                                                                                        color: #ccc !important; }

.col-md-4 {
  width: 31.333%;
  margin-left: 3%;
  padding-top: 10px;
  padding-bottom: 12px; }

  .pagination {
    margin: 0px; }

    .pager_wrapper {
      text-align: center;
      padding: 5px;
      background: none;
      color: #333;
      width: 30%;
      margin: 0px auto 1em;
      border-radius: 5px;
      margin-bottom: 0; }
      .pager_wrapper a {
        color: #428BCA !important; }
        .pager_wrapper a:hover {
          color: #fff !important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Dosis'; }

  div#form-container {
    background-color: #f06421;
    padding: 1em;
    box-shadow: 0px 5px 3px #ccc;
    border-radius: 5px; }

    .grant-sort {
      color: #f06421; }

      .summary.row {
        text-align: center;
        background: #F06421;
        box-shadow: 0px 5px 3px #CCC;
        margin-left: -30px; }
        .summary.row h3 {
          color: white; }
