
body{
	background-color: #fff !important;
}

#header.navbar-default {
   background-color: #373f49 !important;
}

#header strong{
	color:#fff !important;
    font-size: 30px;
}

.navbar-default {
    border-color: transparent !important;
}

.about h1{
	font-weight: 900;
	font-size:2.6em;
	color: #222222;
	text-transform: uppercase;
}
.about h2{
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #565454;
}
.about p{
	font-weight: 400;
	line-height: 1.7em;
	font-size: 1em;
	color: #888888;
}

.link{
	color: #005989;
	font-weight: bold;
}

.line{
	width: 90px;
	height: 2px;
	margin-top: 15px;
	background-color: #005989;
	margin-bottom: 40px;
}

span.logo-name{
	color: #007ab8 !important;
    font-size: 30px;
}

.subtitle{
	color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
}

.box-filter{
	padding: 10px 15px;
}

#sidebar-wrapper {
    background-color: #ffffff !important;
}

#sidebar {
    background-color: #ffffff !important;
    border-right: 1px solid #e7ebf1;
}

#sidebar .nav{
	padding-top: 10px;
}

#sidebar #menuSm{
	padding-top: 0px;
}

.sidebar{
	overflow: hidden;
	height: 100%;
    background: #e7e7e7;
}

.sidebar .nav{
	padding-top: 15px;
}

.sidebar #menuSm{
	padding-top: 0px;
}

#sidebar a {
    color: #000000 !important;
    border-top: none !important;
    border-bottom: none !important;
    background-color: #ffffff !important;
    font-size: 16px;
    text-shadow: none !important;
}

#sidebar a.btn-export, .sidebar a.btn-export {
	background-color: #007ab8 !important;
	border-color: #007ab8 !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	border-bottom: none !important;
	color: #fff !important;
	text-align: center !important;
    text-transform: uppercase;
    line-height: 1.428571429;
    padding: 6px 12px;
    width: 100%;
    white-space: normal;
}

#sidebar a.box-about {
    border-top: none !important;
}

.sidebar-toggle{
	color: #000000;
}

.sidebar-toggle i{
	color: #9b9fa4;
}

a.sidebar-toggle.search-title {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sidebar .nav>li>a:visited {
  color: #000;
}

.sidebar .nav>li>a:hover,
.sidebar .nav>li>a:focus {
  color: #000;
  background-color: transparent;
}

#search-form{
	overflow: hidden;
	font-size: 12px;
}

.box-about i{
	color:#9b9fa4 !important;
}

.menu-icon {
    color: #ffffff !important;
}

.autocomplete-suggestions {
    background-color: #fff;
    padding: 6px;
    border: 1px solid #ccc;
    max-height: 100% !important;
}

.autocomplete-suggestions .autocomplete-suggestion {
    cursor: pointer;
    padding: 5px;
}

.autocomplete-suggestions .autocomplete-suggestion:hover {
    color: #fff;
    background-color: #78C5EB;
}

.dashboard-block .sub {
    font-size: 30px !important;
    font-weight: 100;
}

.dashboard-block .title {
    color: #000;
    font-weight: 600;
    font-size: 12px !important;
}

.responsive-table-line tbody{
	border-top: 5px solid #f5f5f6;
}

.table{
	font-size: 12px;
	border-spacing: initial !important;
	border-collapse: initial !important;
}

.table thead{
	text-transform: uppercase;
}

.table thead tr th{
	border-bottom: 5px solid #F5F5F6;
	padding-top: 20px;
	padding-bottom: 20px;
}

.table thead tr th.active{
	border-bottom: 5px solid #007ab8;
	background-color: #ffffff !important;
}

.table thead tr th a{
	color:#000;
}
.table thead tr th a:hover{
	color:#007ab8;
}

.table tbody{
	color: #7a8289;
}
.table tbody tr{
	background-color: #f7f8f9;
}
.table tbody tr td a{
	color: #7a8289;
}

.table tbody tr td a.grant-name{
	color:#007ab8;
	font-weight: 600;
}
.table tbody tr td a.grant-source:hover{
	color:#007ab8;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: #ffffff;
    border-bottom: 5px solid #ffffff;
}

.table > thead > tr > td.td-line-blue{
	background-color: #E9EFF3;
}
.table > thead > tr > td.td-line-grey{
	background-color: #F5F5F6;
}
.table > thead > tr > td.td-line-white{
	background-color: #ffffff;
}

.table >tbody > tr > td.td-organization{
	width: 20%;
}
.table >tbody > tr > td.td-location{
	width: 10%;
}
.table >tbody > tr > td.td-date{
	width: 10%;
}
.table >tbody > tr > td.td-amount{
	width: 5%;
}
.table >tbody > tr > td.td-funder{
	width: 10%;
}
.table >tbody > tr > td.td-description{
	width: 45%;
}
.box-pagination-header{
	padding: 0px 0px;
}

.box-pagination-header > .pagination {
    margin:0;
}

.dashboard-block {
	background-color: #e7e7e7 !important;
}

.dashboard-block .sub {
	color: #007ab8;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs.nav-justified > li > a:hover, .nav-tabs.nav-justified > li.active > a{
	color: #000 !important;
	border-bottom: 3px solid #007ab8;
	font-weight: 500;
	text-transform: uppercase;
}

.nav-tabs > li > a{
	color: #000 !important;
	font-weight: 500;
	text-transform: uppercase;
}

.stats-map{
	padding-top: 0.5em;
}

.tab-content{
	display: inline-block;
}

.tab-content.pad-0{
	border-top: 1px solid #e7ebf1;
}

#results{
	width:100%;
	height: 100%;
}

#results .nav.nav-tabs{
	margin-left: 45px;
	background-color: #f9fafb !important;
}

.wrap-result, #grant-table{
	margin-left: 25px;
}

.title-result{
	color: #000;
	display: block;
	font-size: 16px;
	font-weight: 600;
	padding: 20px 20px 0px 20px;
	position: relative;
}

.dropdown-submenu{
	color: #ffffff !important;
	text-transform: uppercase;
}

.dropdown-submenu i{
	color: #9b9fa4 !important;
}

.form-control {
	height: 30x !important;
	padding: 0px 12px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #373f49 !important;
	color: #fff !important;
}

.navbar-nav>li>.dropdown-menu {
	background-color: #373f49 !important;
	color: #fff !important;
}

.navbar-brand {
    margin-top: 0.5em;
}

.list-group-item {
	background-color: #373f49 !important;
	border-color: transparent !important;
	border-bottom: none !important;
	color: #fff !important;
}

.dropdown-menu > li > a {
	color: #ffffff !important;
}
.dropdown-menu>li>a:hover {
	background-color: #373f49 !important;
	color: #fff !important;
}

.footer{
	color:#000 !important;
	font-weight: 600;
}

.footer img{
	width: 2%;
}

a.btn-reset{
	color: #007ab8 !important;
	padding: 0px 20px;
	text-align: center;
}

.box-filter > a.btn-reset {
   padding-top: 0px;
} 

.box-vide{
	height: 50px;
}
.pagination > .active > span{
	background-color: #007ab8 !important;
}

.fullMobile{
	width: 100%;
}

.glyphicon{
	color:#fff !important;
	padding-left: 5px;
	padding-right: 5px;
}

label{
	color:#373f49;
	text-transform: uppercase;
}

input.form-control, select.form-control{
	border-color: #dce0e3 !important;
	font-size: 12px;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

.chart-legend ul{
	list-style: none;
}

.chart-legend ul li{
	padding: 0px;
}

.chart-legend ul li span{
	width:10px;
	height: 10px;
	display: inline-block;
	margin-right: 10px;
}

#canvas{
	z-index: 9998;
	width: 100%;
	height: auto;
    position: relative;
    top: 50%;
    transform: translateY(7%);

}

.canvas-container{
	position: relative;
}

@media (max-width: 1400px){
	.sidebar #menuSm{
		padding-top: 0px !important;
	}
	.dashboard-block{
		padding: 16px 20px !important;
	}
	.box-filter{
		padding: 6px 15px !important;
	}

}

@media (max-width: 768px) {
	#grant-modal .modal-dialog .modal-content{
		width: 93%;
	}
	.footer img{
		width: 8% !important;
	}

	#wrapper.active.collapsed #sidebar-wrapper {
    	width: 100% !important;
	}
	#wrapper.active #sidebar-wrapper {
	    width: 100% !important;
	}
	#wrapper:not(.active) #sidebar-wrapper {
    	width: 100% !important;
	}
	#sidebar-wrapper {
    	display: none;
    	width: 100%;
    	position: relative !important;
    	height: 100%;
	}
	.sidebar{
		overflow-y:scroll;
		height: 100%;
	}
	.sidebar .nav .search-title{
		display: none !important;
	}
	#main{
		margin-left: -75px !important;
	}
	.box-search-filter{
		background-color: #373f49;
	}
	a.mobile {
		display: block;
		color: #fff;
		background-color: #373f49;
		text-align: center;
		padding: 7px;
		cursor: pointer;
	}
	.table >tbody > tr > td.td-organization{
		width: 100% !important;
	}
	.table >tbody > tr > td.td-location{
		width: 100% !important;
	}
	.table >tbody > tr > td.td-date{
		width: 100% !important;
	}
	.table >tbody > tr > td.td-amount{
		width: 100% !important;
	}
	.table >tbody > tr > td.td-funder{
		width: 100% !important;
	}
	.table >tbody > tr > td.td-description{
		width: 100% !important;
	}

	.responsive-table-line td:before { content: attr(data-title);}
	.responsive-table-line table,
	.responsive-table-line thead,
	.responsive-table-line tbody,
	.responsive-table-line th,
	.responsive-table-line td,
	.responsive-table-line tr{
		display: block;
	}

	.responsive-table-line thead tr {
		display:none;
	}

	.responsive-table-line td {
		position: relative;
		border: 0px solid transparent;
		padding-left: 50% !important;
		white-space: normal;
		text-align:left;
	}

	.table-bordered > tbody > tr >td{
		&:last-child {
			margin-bottom: 20px;
		}
	}

	.responsive-table-line td:before {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 45%;
		padding-right: 15px;
		height:100%;
		white-space: nowrap;
		text-overflow: ellipsis !important;
		overflow:hidden !important;
		text-align:left;
		background-color:#f8f8f8;
		padding:2px;
		color:#000;
		font-weight: bold;
	}
	.responsive-table-line tbody tr:nth-child(2n+1) {
		background-color: #fff !important;
	}
}

@media only screen and (min-width: 768px) {
	#sidebar-wrapper {
		min-height: 900px;
		display: block;
	}
	a.mobile {
		display: none;
	}
}

#grant-summary {
    margin-right: 0px;
}

hr {
    border-top: 5px solid #007ab8;
    margin-left: 25%;
    margin-right: 25%;
}

.panel-body {
    padding-top: 0px;
}
